# Directorios de dependencias
/back/vendor/
/front/node_modules/

# Archivos de entorno y logs (SECRETOS Y VARIABLES DE ENTORNO)
/back/.env
/front/.env
*.log

# Carpetas de Build y Cache
/front/dist/
/.astro/
.DS_Store

# Logs y Cache de Composer
composer.lock