---
// front/src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro';
import SearchForm from '../components/SearchForm.astro';
---

<BaseLayout title="Calculadora de Rutas HTML-First">
    <main>
        <SearchForm />
    </main>
</BaseLayout>